<!DOCTYPE html>
<html>
<head>
    <title>Ice Cream Parlor Online Portal </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Smart Bazaar Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/menu.css" rel="stylesheet" type="text/css" media="all" /> <!-- menu style -->
    <link href="~/Content/css/ken-burns.css" rel="stylesheet" type="text/css" media="all" /> <!-- banner slider -->
    <link href="~/Content/css/animate.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all"> <!-- carousel slider -->
    <!-- //Custom Theme files -->
    <!-- font-awesome icons -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="~/Content/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
    <!-- web-fonts -->
    <script src="~/Content/js/owl.carousel.js"></script>
    <script>
$(document).ready(function() {
	$("#owl-demo").owlCarousel({
	  autoPlay: 3000, //Set AutoPlay to 3 seconds
	  items :4,
	  itemsDesktop : [640,5],
	  itemsDesktopSmall : [480,2],
	  navigation : true

	});
});
    </script>
    <script src="~/Content/js/jquery-scrolltofixed-min.js" type="text/javascript"></script>
    <script>
    $(document).ready(function() {

        // Dock the header to the top of the window when scrolled past the banner. This is the default behaviour.

        $('.header-two').scrollToFixed();
        // previous summary up the page.

        var summaries = $('.summary');
        summaries.each(function(i) {
            var summary = $(summaries[i]);
            var next = summaries[i + 1];

            summary.scrollToFixed({
                marginTop: $('.header-two').outerHeight(true) + 10,
                zIndex: 999
            });
        });
    });
    </script>
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/easing.js"></script>
    <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script type="text/javascript">
		$(document).ready(function() {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <script src="~/Content/js/bootstrap.js"></script>
</head>
<body>
    <div class="header">
        <div class="w3ls-header">
            <!--header-one-->
            <div class="w3ls-header-left">
                <p><a href="#">UPTO 50% OFF IN DECEMBER</a></p>
            </div>
            <div class="w3ls-header-right">
                <ul>
                    <li class="dropdown head-dpdn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-home" aria-hidden="true"></i>@Html.ActionLink("Home", "Index", "Home", null, new { @style = "color:white" })<span class="caret"></span></a>
                    </li>
                    <li class="dropdown head-dpdn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i>@Html.ActionLink("Login", "Login", "Home", null, new { @style = "color:white" })<span class="caret"></span></a>
                    </li>
                    <li class="dropdown head-dpdn">
                        <a href="#" class="dropdown-toggle"><i class="fa fa-envelope" aria-hidden="true"></i>@Html.ActionLink("About Us", "AboutUs", "Home", null, new { @style = "color:white" })</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="header-two">
            <!-- header-two -->
            <div class="container">
                <div class="header-logo">
                    <h1><a href="#"><span>Ice</span>Cream<i>Parlor</i></a></h1>
                    <h6>Choose Your Favourite Flavour</h6>


                </div>
                <div class="header-search">
                    <form action="#" method="post">
                        <input type="search" name="Search" placeholder="Search for a Flavour..." required="">
                        <button type="submit" class="btn btn-default" aria-label="Left Align">
                            <i class="fa fa-search" aria-hidden="true"> </i>
                        </button>
                    </form>
                </div>
                <div class="header-cart">
                    <div class="my-account">
                        @Html.ActionLink("Contact US", "ContactUS", "Home", null, new { @Class = "fa fa-map-marker" })
                    </div>
                    <div class="cart">
                        <form action="#" method="post" class="last">
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="display" value="1" />
                            <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div><!-- //header-two -->
        <div class="header-three">
            <!-- header-three -->
            <div class="container">
                <div class="menu">
                    <div class="cd-dropdown-wrapper">
                        <a class="cd-dropdown-trigger" href="#">Categories</a>
                        <nav class="cd-dropdown">
                            <a href="#" class="cd-close">Close</a>
                            <ul class="cd-dropdown-content">

                                <li class="has-children">
                                    <a href="#">CHOCOLATE</a>
                                    <ul class="cd-secondary-dropdown is-hidden">
                                        <li class="has-children">
                                            <a href="#">CHOCOLATE</a>
                                            <ul class="is-hidden">
                                                <li> <a href="#">Magnum</a> </li>
                                                <li><a href="#">Choco Beans</a></li>
                                                <li><a href="#">Choco Bar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul> <!-- .cd-dropdown-content -->
                        </nav> <!-- .cd-dropdown -->
                    </div> <!-- .cd-dropdown-wrapper -->
                </div>
                <div class="move-text">
                    <div class="marquee" style="color:whitesmoke"> New Flavours are available here...... <span>Get extra 10% off on everything | no extra taxes </span> <span> Try shipping pass free for 15 days with unlimited</span></div>
                    <script type="text/javascript" src="~/Content/js/jquery.marquee.min.js"></script>
                    <script>
					  $('.marquee').marquee({ pauseOnHover: true });

                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    <!-- footer-top -->
    <div class="w3agile-ftr-top">
        <div class="container">
            <div class="ftr-toprow">
                <div class="col-md-4 ftr-top-grids">
                    <div class="ftr-top-left">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                    <div class="ftr-top-right">
                        <h4>FREE DELIVERY</h4>
                        <p>We can deliver on your door step what you want </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 ftr-top-grids">
                    <div class="ftr-top-left">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <div class="ftr-top-right">
                        <h4>CUSTOMER CARE</h4>
                        <p>Your Choice is our PRIORITY</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 ftr-top-grids">
                    <div class="ftr-top-left">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </div>
                    <div class="ftr-top-right">
                        <h4>GOOD QUALITY</h4>
                        <p>Assurance of Quality Ice Creams</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //footer-top -->
    <div class="subscribe">
        <div class="container">
            <div class="col-md-6 social-icons w3-agile-icons">
                <h4>Keep in touch</h4>
                <ul>
                    <li><a href="https://www.facebook.com" class="fa fa-facebook icon facebook"> </a></li>
                    <li><a href="https://twitter.com" class="fa fa-twitter icon twitter"> </a></li>
                    <li><a href="https://www.google.com" class="fa fa-google-plus icon googleplus"> </a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //subscribe -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-info w3-agileits-info">
                <div class="col-md-4 address-left agileinfo">
                    <div class="footer-logo header-logo">
                        <h2><a href="#"><span>I</span>ce Cream  <i>Parlor</i></a></h2>
                        <h6>Ice Cream Make your day beautiful</h6>
                    </div>
                    <ul>
                        <li><i class="fa fa-map-marker"></i> 456 Karachi, Pakistan.</li>
                        <li><i class="fa fa-mobile"></i> +92 3567842908 </li>
                        <li><i class="fa fa-phone"></i> +021 33445566 </li>
                        <li><i class="fa fa-envelope-o"></i> <a href="#"> icecream@example.com</a></li>
                    </ul>
                </div>
                <div class="col-md-8 address-right">
                    <div class="col-md-4 footer-grids">
                        <h3>Company</h3>
                        <ul>
                            <li>@Html.ActionLink("About Us", "AboutUs", "Home")</li>
                            <li>@Html.ActionLink("Market Place", "MarketPlace", "Home")</li>
                            <li>@Html.ActionLink("Contact Us", "ContactUS", "Home")</li>
                            <li>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")</li>
                            <li>@Html.ActionLink("FAQs", "FAQS", "Home")</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <div class="copy-right">
        <div class="container">
            <p>© 2019 ice Cream Parlor Online Portal . All rights reserved | Design by <i style="color:whitesmoke">JSquares</i></p>
        </div>
    </div>
    <script src="~/Content/js/minicart.js"></script>
    <script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) {
        			items[i].set('shipping', 0);
        			items[i].set('shipping2', 0);
        		}
        	}
        });
    </script>
    <!-- //cart-js -->
    <!-- countdown.js -->
    <script src="~/Content/js/jquery.knob.js"></script>
    <script src="~/Content/js/jquery.throttle.js"></script>
    <script src="~/Content/js/jquery.classycountdown.js"></script>
    <script>
			$(document).ready(function() {
				$('#countdown1').ClassyCountdown({
					end: '1388268325',
					now: '1387999995',
					labels: true,
					style: {
						element: "",
						textResponsive: .5,
						days: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#1abc9c",
								lineCap: 'round'
							},
							textCSS: 'font-weight:300; color:#fff;'
						},
						hours: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#05BEF6",
								lineCap: 'round'
							},
							textCSS: ' font-weight:300; color:#fff;'
						},
						minutes: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#8e44ad",
								lineCap: 'round'
							},
							textCSS: ' font-weight:300; color:#fff;'
						},
						seconds: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#f39c12",
								lineCap: 'round'
							},
							textCSS: ' font-weight:300; color:#fff;'
						}

					},
					onEndCallback: function() {
						console.log("Time out!");
					}
				});
			});
    </script>
    <!-- //countdown.js -->
    <!-- menu js aim -->
    <script src="~/Content/js/jquery.menu-aim.js"> </script>
    <script src="~/Content/js/main.js"></script> <!-- Resource jQuery -->

</body>
</html>
