@model List<IceCreamParlorOnlinePortal.Models.AddVendorModel>
@{
    ViewBag.Title = "ViewVendor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Vendors Of Ice Cream</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width:"100%"; cellspacing="0">
                <thead>
                    <tr>
                        <th>Vendor ID</th>
                        <th>Vendor Name</th>
                        <th>Company</th>
                        <th>Vendor Add on</th>
                        <th>Vendor Add By</th>
                        <th>Vendor Updated On</th>
                        <th>Vendor Updated By</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Vend_ID</td>
                            <td>@item.Vend_Name</td>
                            <td>@item.Vend_Company_Name</td>
                            <td>@item.Vend_Add_On</td>
                            <td>@item.Vend_Add_by</td>
                            <td>@item.Vend_Updated_On</td>
                            <td>@item.Vend_Updated_By</td>

                            <td>@Html.ActionLink("Update", "UpdateVendor", "AddVendor", new { VendID = @item.Vend_ID }, new { @Class = "btn btn-primary" })</td>
                            <td>@Html.ActionLink("Delete", "DeleteVend", "AddVendor", new { VendID = @item.Vend_ID }, new { @Class = "btn btn-danger" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

