@model List<IceCreamParlorOnlinePortal.Models.AddProductModel>
@{
    ViewBag.Title = "ViewProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Ice Creams</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width:"100%"; cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ice Cream</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Purchase Price</th>
                        <th>Sale Price</th>
                        <th>Stock</th>
                        <th>Flavour</th>
                        <th>Vendor</th>
                        <th>Ice Cream Add on</th>
                        <th>Ice Cream Add By</th>
                        <th>Ice Cream Updated On</th>
                        <th>Ice Cream Updated By</th>
                        <th>Image</th>

                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IceCream_ID</td>
                            <td>@item.IceCream_Name</td>
                            <td>@item.IceCream_Descrip</td>
                            <td>@item.unit_price</td>
                            <td>@item.Purchase_Price</td>
                            <td>@item.Sale_Price</td>
                            <td>@item.Stock</td>
                            <td>@item.Cat_ID_fk_Cat_ID</td>
                            <td>@item.Vend_ID_fk_Vend_ID</td>
                            <td>@item.IceCream_Add_On</td>
                            <td>@item.IceCream_Add_by</td>
                            <td>@item.IceCream_Updated_On</td>
                            <td>@item.IceCream_Updated_By</td>
                            <td>@item.IceCream_Image</td>

                            <td>@Html.ActionLink("Update", "Updatepro", "AddProduct", new { proID = @item.IceCream_ID }, new { @Class = "btn btn-primary" })</td>
                            @*<td>@Html.ActionLink("Delete", "Deletepro", "AddProduct", new { proID = @item.IceCream_ID }, new { @Class = "btn btn-danger" })</td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

